# ignore node modules
node_modules/

# ignore svelte, second and views folders
public/svelte/

public/second/

assets/views/

# ignore components, not using them right now
assets/components/

# ignore javscript files 
assets/js/components/FirstComp.js
assets/js/components/svelte/App.svelte
assets/js/components/svelte/Header.svelte
assets/js/components/svelte/SvelteApp.js
public/js/dist/FirstComp.js
public/js/dist/SApp.js
public/js/dist/vendors~FirstComp.js
public/js/dist/vendors~SApp.js